@page "/superheroes/home"
@inject HttpClient _http
@using BlazorPagination.Client.ViewModels;
@rendermode InteractiveWebAssembly

<h3>AllSuperHeroes</h3>

@code {
    private List<SuperHeroesVm> allHeroes = new List<SuperHeroesVm>();
    protected override async Task OnInitializedAsync()
    {
        await GetAllSuperHeroesAsync();
    }
    private async Task GetAllSuperHeroesAsync()
    {
        await _http.GetFromJsonAsync<List<SuperHeroesVm>>("api/SuperHeroes");
    }
}

    
